discord.py
PyNaCl
wavelink
python-dotenv
psutil
aiohttp
aiofiles
Pillow
easy-pil
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google-generativeai
ollama
beautifulsoup4
chromadb
colorlog
davey