server: # REST and WS server
  port: 2333
  address: 0.0.0.0
lavalink:
  plugins:
    - dependency: "dev.lavalink.youtube:youtube-plugin:1.18.1"
      repository: "https://maven.lavalink.dev/releases"
      snapshot: false
    - dependency: "com.github.topi314.lavasrc:lavasrc-plugin:4.3.0"
      repository: "https://maven.lavalink.dev/releases"
      snapshot: false
  server:
    password: "youshallnotpass"
    koe:
      enableJdaNas: true
      useEpoll: true
    sources:
      youtube: false # Deixe false pois o plugin já gerencia
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false
    filters:
      volume: true
      equalizer: true
      karaoke: true
      timescale: true
      tremolo: true
      vibrato: true
      distortion: true
      rotation: true
      channelMix: true
      lowPass: true
    bufferDurationMs: 400
    frameBufferDurationMs: 5000
    opusEncodingQuality: 10
    resamplingQuality: LOW
    trackStuckThresholdMs: 10000
    useSeekGhosting: true
    youtubePlaylistLoadLimit: 6
    playerUpdateInterval: 5
    youtubeSearchEnabled: true
    soundcloudSearchEnabled: true
    gc-warnings: true

plugins:
  youtube:
    enabled: true
    allowSearch: true
    allowDirectVideoIds: true
    allowDirectPlaylistIds: true
    clients:
      - TV
      - TVHTML5_SIMPLY
      - ANDROID_MUSIC
      - IOS
      - WEB
    oauth:
      enabled: true
      # Mantenha os seus tokens aqui
      refreshToken: "seu token"
    authentication:
      cookies: "cookies.txt"

  # 3. CONFIGURAÇÃO DO COMBO INTELIGENTE (LAVASRC)
  lavasrc:
    providers:
      - "ytmsearch:"
      - "ytsearch:"
      - "scsearch:"
    sources:
      spotify: true # Ativa suporte a links/playlists do Spotify
      applemusic: false
      deezer: false
      yandexmusic: false
    spotify:
      clientId: "seu id"
      clientSecret: "seu id"
      countryCode: "BR"

metrics:
  prometheus:
    enabled: false
    endpoint: /metrics

logging:
  file:
    path: ./logs/
  level:
    root: INFO
    lavalink: INFO
  request:
    enabled: true
    includeClientInfo: true
    includeHeaders: false
    includeQueryString: true
    includePayload: true
    maxPayloadLength: 10000
